<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <properties></properties>
    <settings></settings>
    <typeAliases></typeAliases>
    <typeHandlers></typeHandlers>
    <objectFactory></objectFactory>
    <plugins></plugins>
    <environments>
        <environment>
            <transactionManager>

            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value=""/>
                <property name="url" value="="/>
                <property name="username" value="="/>
                <property name="password" value="="/>
            </dataSource>
        </environment>
    </environments>
    <mappers>

    </mappers>
</configuration>