<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- aop -->
    <bean id="manPerson" class="shaohua.study.spring.aop.Man" ></bean>
    <bean id="timeAdvice" class="shaohua.study.spring.aop.TimeHelper"></bean>
    <bean id="timePointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut">
        <property name="pattern" value=".*"></property>
    </bean>
    <bean id="timeAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="timeAdvice"></property>
        <property name="pointcut" ref="timePointcut"></property>
    </bean>
    <bean id="manProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="manPerson"></property>
        <property name="interceptorNames" value="timeAdvisor"></property>
        <property name="proxyInterfaces" value="shaohua.study.spring.aop.Person"></property>
    </bean>


    <aop:aspectj-autoproxy/>
    <bean id="logAdvise" class="shaohua.study.spring.aop.LogHelper"></bean>
    <!-- aop -->
</beans>