<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="true">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-mvc.xml</param-value>
    </context-param>
    
     base servlet study
    <filter>
        <filter-name>common-filter</filter-name>
        <filter-class>shaohua.study.web.filter.CommonFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>common-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>simple-servlet</servlet-name>
        <servlet-class>shaohua.study.web.SimpleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>simple-servlet</servlet-name>
        <url-pattern>/simple.do</url-pattern>
    </servlet-mapping>
    <!--<servlet>-->
        <!--<servlet-name>HttpStudyServlet</servlet-name>-->
        <!--<servlet-class>shaohua.study.web.HttpStudyServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>HttpStudyServlet</servlet-name>-->
        <!--<url-pattern>/httpStudy.do</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--&lt;!&ndash; spring mvc study&ndash;&gt;-->
    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->
    <servlet>
        <servlet-name>spring-dispatcher-study</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring-dispatcher-study</servlet-name>
        <url-pattern>/springmvc/*</url-pattern>
    </servlet-mapping>
    <!--<filter>-->
        <!--<filter-name>struts2</filter-name>-->
        <!--<filter-class>-->
            <!--org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter-->
        <!--</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>struts2</filter-name>-->
        <!--<url-pattern>/struts2/*</url-pattern>-->
    <!--</filter-mapping>-->
    <listener>
        <listener-class>shaohua.study.web.listener.CommonListener</listener-class>
    </listener>
</web-app>